@import '../main';

.content{
    width: 100%;
    margin-top: 10%;

    .nav{
        display: flex;
        justify-content: center;
    }
    
    .tab{
        display: block;
        justify-content: center;
        width: 100%;
        height: 100vh;
        
        .tab-content{
            height: 100%;
            display: block;
            justify-content: center;
        }
    

        .form{
            display: flex;
            justify-content: center;
        }
    }

    .admin-collapse{
        display: flex;
        justify-content: space-evenly;
    }

    
}

