@import '../main';

.catalog {
    width: 80%;
    height: 100%;
    margin: 2.6rem auto;

    .catalog-container {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 2.2rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .product-card {
        width: 100%;
        height: 37vh;
        background-color: darken($white, 4.5);
        border: 0.1rem solid darken($white, 15);
        text-align: center;
        color: black;

        &:hover {
            cursor: pointer;
        }

        .product-card__img {
            width: 100%;
            height: 60%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .img{
                width: 100%;
                height: 100%;
            }
        }

        .product-card__title {
            margin-top: 1.4rem;
            margin-bottom: 0;
            text-decoration: none;
        }
    }
}