@import '../main';

.footer {
    width: 100%;
    height: 40rem;
    padding: 6rem;
    background-color: $black;

    .footer-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
    }

    .footer-container__info {
        width: 100%;
        height: 100%;
        color: $white;
    }

    iframe {
        width: 100%;
        height: 50%;
    }
}